<footer>
    <p>
      <strong>Acerca de nosotros:</strong> <br />
      Jorge Isidro Hernandez Ramirez <br />
      Salvador Mendoza Briseño
      <br>
      <br>
      <br>
    </p>
    <div></div>

    <div id="iconosH">
      <a href=""> <i class="fab fa-facebook-square"></i> </a>
      <a href=""> <i class="fab fa-twitter-square"></i> </a>
      <a href=""> <i class="fab fa-instagram-square"></i> </a>
    </div>

    <ul type="none" id="iconosV">
      <li>
        <a href=""> <i class="fab fa-facebook-square"></i> </a>
      </li>
      <li>
        <a href=""> <i class="fab fa-twitter-square"></i> </a>
      </li>
      <li>
        <a href=""> <i class="fab fa-instagram-square"></i> </a>
      </li>
    </ul>
  </footer>