<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/stylesheets/estiloFormato.css" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
  </head>
    
    
  <body>
    <header>
      <%-include('../partials/header')%>
    </header>
    

    <article id="formato">
      <form action="/users/registrar" method="post" enctype="multipart/form-data">
        <strong>Nombre:</strong>
        <div><input class="campo" type="text" name="nombre"></div><br>
        <strong>Apellido:</strong>
        <div><input class="campo" type="text" name="apellido"> </div><br>
        <strong>Correo:</strong>
        <div><input class="campo" type="email" name="email"> </div><br>
        <strong>Contraseña:</strong>
        <div><input class="campo" type="password" name="contraseña"> </div><br>
        <strong>Confirmar Contraseña:</strong>
        <div><input class="campo" type="password" name="confirmarPass"> </div><br>
        <strong>Categoria:</strong>
        <div>
        <select class="campo" name="categoria" id="categoria">
          <option value="administrador">Administrador </option>
          <option value="cliente">Cliente</option>
        </select>
      </div><br>
        <strong>Foto de perfil:</strong>
        <div><input class="campo" type="file" name="imagen"></div><br>
        <button class="boton" type="submit"><strong>Registrarme</strong> </button>
      </form>
    </article>
    <footer>
      <%-include('../partials/footer')%>
    </footer>
    
  </body>
</html>
